body {
margin: 0;
}

#top_div {
  background-color: rgb(37,37,37);
  padding-top: 120px;
  padding-bottom: 170px;
}

#bottom_div {
  text-align: center
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  color: white;
  margin: 0px auto;
  text-align: center;
  font-size: 110px;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #1abc9c;
  margin: 0px auto;
  text-align: center;
  font-size: 45px;
}

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
}

#sgl_img {
  width: 250px;
  margin-top: -120px;
  border-radius: 150px;
}

/*59  198 81  */

/*#1abc9c*/